<%- include("partials/header.ejs") %>
    <form action="submit" method="post">
        <label for="uName">Username:</label><br>
        <input type="text" name="uName" id="uName"><br>
        <label for="subject">Subject:</label><br>
        <input type="text" name="subject" id="subject"><br>
        <label for="content">Your Content:</label><br>
        <input type="text" name="content" id="content"><br>
        <label for=""></label>
        <input type="submit" value="Submit">
    </form>
    <%- include("partials/footer.ejs") %>